<footer class="footer">
	<div class="container">
		<div class="copyright">
			
		<div class="pull-left">
			Copyright © 2014 COMPANY NAME. All rights reserved. 
		</div>

		<div class="pull-right">
			<a href="/">网站使用条款</a>
			 | 
			<a href="/">用户隐私条款</a>
			
		</div>

		</div>
	</div>
</footer>