<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Kevin He" content="content" />
	<!-- Document Title
	============================================ -->
	<title><%= title %></title>
</head>
  <body>
  	<% if ( userFullName ) { %>
        <h2>Hello <%=userFullName%> </h2> 
        <a href="/signout">Sign out</a>
      <% } else { %>
        <a href="/signup">Signup10</a>
        <a href="/signin">Signin</a>
    <% } %>
  </body>
</html>