<!DOCTYPE html>
<html lang="zh-CN">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="Kevin He" content="content" />
  <link href="css/style.min.css" rel="stylesheet" type="text/css"/>

	<!-- Document Title
	============================================ -->
	<title>index</title>
</head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed button button-rounded button-border button-primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span>菜单</span>
          </button>
          <a class="navbar-brand" href="#">Brand Logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="text-center">主页面一</a></li>
            <li><a href="#" class="text-center">主页面二</a></li>
            <li><a href="#" class="text-center">主页面三</a></li>
            <li><a href="/signin" class="button button-rounded button-border button-primary navbar-btn">登录</a></li>
            <li><a href="/signup" class="button button-rounded button-red navbar-btn">免费注册</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>