<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>

    <section>

      <div class="container">
        <div class="form-container">
          
          <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading  text-center">
                    <div class="panel-title">
                      logo
                    </div>
                  </div>
                  <div class="panel-body">
                    <%= messages %>
                    <form name="signin" role="form" method="post" action="/signin">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control input-lg" placeholder="Email" required>
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg" placeholder="密码" required>
                      </div>
                      <div class="form-group">
                      <button type="submit" class="button button-block button-rounded button-large button-primary">登录</a>
                      </div>
                      <div class="privacy-field">
                      <p><a href="/">忘记密码？</a></p>
                      </div>
                      <hr>
                      <div class="form-group">
                      <a href="/" class="button button-block button-rounded button-border button-large button-wechat"><i class="fa fa-weixin"></i> 微信 登录</a>
                      </div>
                      <div class="form-group">
                      <a href="/" class="button button-block button-rounded button-border button-large button-weibo"><i class="fa fa-weibo"></i> 微博 登录</a>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- END PANEL -->





        </div>
      </div>

    </section>

    <%- include('./partials/footer') %>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>